# instead of install from source, use the pre-built wheel
lightning==2.0.5

# the default package dependencies
-r ./requirements/app/base.txt
-r ./requirements/pytorch/base.txt
-r ./requirements/pytorch/docs.txt