# instead of install from source, use the pre-built wheel
lightning

# the default package dependencies
-r ./requirements/app/base.txt
-r ./requirements/pytorch/base.txt
-r ./requirements/pytorch/docs.txt